<%= form_with(model: @user) do |f| %>
  <div class="field">
    <%= f.label(:name) %>
    <%= f.text_field(:name) %>
  </div>

  <div class="field">
    <%= f.label(:user_status) %>
    <%= f.select(:user_status_id, @user_statuses.map{|t| [t.name, t.id]}) %>
  </div>

  <%= f.submit %>
<% end %>
