<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= link_to('new', new_user_path) %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>氏名</th>
      <th>利用者状態</th>
      <th>作成日</th>
      <th>最終更新日</th>
      <th>詳細表示</th>
      <th>編集</th>
    </tr>
  </thead>
  <tbody><% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.name %></td>
      <td><%= u.user_status.name %></td>
      <td><%= u.created_at %></td>
      <td><%= u.updated_at %></td>
      <td><%= link_to('show', user_path(u)) %></td>
      <td><%= link_to('edit', edit_user_path(u)) %></td>
    </tr>
  <% end %></tbody>
</table>
