<table><%= form_with(model: @publisher) do |f| %>
  <tr>
    <th><%= f.label(:place) %></th>
    <td><%= f.text_field(:place) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:isbn_code) %></th>
    <td><%= f.text_field(:isbn_code) %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit %></td>
  </tr>
<% end %></table>
