<h1>Loans#show</h1>
<p>Find me in app/views/loans/show.html.erb</p>

<table>
  <tr>
    <th>貸出ID</th>
    <td><%= @loan.id %></td>
  </tr>
  <tr>
    <th>利用者ID</th>
    <td><%= @loan.user.id %></td>
  </tr>
  <tr>
    <th>利用者名</th>
    <td><%= @loan.user.name %></td>
  </tr>
  <tr>
    <th>標準貸出日数</th>
    <td><%= @loan.user.user_status.loan_days %></td>
  </tr>
  <tr>
    <th>貸出日</th>
    <td><%= @loan.loan_date %></td>
  </tr>
  <tr>
    <th>返却予定日</th>
    <td><%= @loan.return_date %></td>
  </tr>
  <tr>
    <th>資料ID</th>
    <td><%= @loan.collection.id %></td>
  </tr>
  <tr>
    <th>再貸出回数</th>
    <td><%= @loan.reloan_count %></td>
  </tr>
  <tr>
    <th>請求記号</th>
    <td><%= @loan.collection.callnum %></td>
  </tr>
  <tr>
    <th>著者名</th>
    <td><%= @loan.collection.bibliography.author %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @loan.collection.bibliography.title %></td>
  </tr>
  <tr>
    <th>作成日</th>
    <td><%= @loan.created_at %></td>
  </tr>
  <tr>
    <th>最終更新日</th>
    <td><%= @loan.updated_at %></td>
  </tr>
</table>

<%= link_to('edit', edit_loan_path(@loan)) %>
