<table><%= form_with(model: @bibliography) do |f| %>
  <tr>
    <th><%= f.label(:isbn13) %></th>
    <td><%= f.text_field(:isbn13) %></td>
  </tr>
  <tr>
    <th><%= f.label(:publisher) %></th>
    <td><%= f.select(:publisher_id, @publishers.map{|t| [t.publication, t.id]}) %></td>
  </tr>
  <tr>
    <th><%= f.label(:author) %></th>
    <td><%= f.text_field(:author) %></td>
  </tr>
  <tr>
    <th><%= f.label(:title) %></th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit %></td>
  </tr>
<% end %></table>
